.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  width: 1700px;
  height: 747px;
  background-color: @white-bg;
  border-radius: 40px;
}

.login__title {
  margin-top: 49px;
  margin-bottom: 0;
  margin-right: 295px;
  width: 900px;
  color: @dark-font-color;
  font-weight: 750;
  font-size: 46px;
  line-height: 60px;
}

.login__wrapper {
  display: flex;
  justify-content: space-between;
}

.login-paragraph {
  width: 756px;
  color: @dark-font-color;
  font-size: 18px;
  line-height: 27px;
}

.login__example {
  margin-left: -140px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__img {
  margin-top: 10px;
}
